.page {
    margin: 0;
    padding: 45px 0 60px 0;
    background-color: #000;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .page {
        padding: 28px 0 36px 0;
    }
}

