.edit-button {   
    background-image: url(../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7px 7px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #000;
    padding: 0;  
    margin-bottom: 7px;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}