.profile__block {
    display: grid;
    justify-content: center;
    max-width: 336px;
}

@media screen and (max-width: 800px) {
    .profile__block {
        max-width: 282px;
        margin-left: 30px;
    }
}