.button_open_popup {   
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0;
    margin-bottom: 7px;
}

@media screen and (min-width: 641px) and (max-width: 800px) {
    .button_open_popup {
        width: 20px;
        height: 20px;
        background-size: 11px 11px;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .button_open_popup {
        width: 18px;
        height: 18px;
        background-size: 10px 10px;
    }
}