.footer {
    max-width: 880px;
    flex-shrink: 0;
    align-items: flex-start;
}

@media screen and (min-width: 401px) and (max-width: 1109px) {
    .footer {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .footer {
        max-width: 282px;
        flex-direction: row;
        margin: 0 auto;
    }
}